@font-face {
   font-family: 'Larsseit-Regular';
   src: local('Larsseit Regular'), local('Larsseit-Regular'),
      url('../../fonts/Larsseit.woff2') format('woff2'),
      url('../../fonts/Larsseit.woff') format('woff'),
      url('../../fonts/Larsseit.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'Larsseit-Bold';
   src: local('Larsseit Bold'), local('Larsseit-Bold'),
      url('../../fonts/Larsseit-Bold.woff2') format('woff2'),
      url('../../fonts/Larsseit-Bold.woff') format('woff'),
      url('../../fonts/Larsseit-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Larsseit-Medium';
   src: local('Larsseit Medium'), local('Larsseit-Medium'),
      url('/fonts/Larsseit-Medium.woff2') format('woff2'),
      url('/fonts/Larsseit.woff') format('woff'),
      url('/fonts/Larsseit.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}